/* Palette:
https://coolors.co/72267c-ffffff-fca63d-b8007c-ef7cb6 */
/* 
	Plum:		 	#72267c
	White: 		#fff
	Gold: 		#fca63d
	Hot Pink: #b8007c
	Pink: 		#ef7cb6
	Black:    #000
*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}

:root {
	--accent-font: 'Lora', 'Georgia', 'Times New Roman', Times, serif;
	--primary-1: #fff;
	--primary-2: #000;
	--accent-1: #72267c;
	--accent-2: #b8007c;
	--accent-3: #ef7cb6;
	--accent-4: #fca63d;
}

::selection {
	color: var(--primary-1);
	background: var(--accent-3);
}


/* Navigation */
.header {
	position: sticky;
	top: 0;
	height: 60px;
	background-color: var(--accent-1);
	z-index: 2;
}

.logo {
	float: left;
	height: 50px;
}

.nav-item {
	display: inline-block;
	margin: 20px;
}

.nav-link {
	text-decoration: none;
	padding: 0;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
}

.nav-link:hover {
	color: var(--accent-4);
}

.nav-link-color {
	color: var(--primary-1);
}


/* Footer */
.footer {
	background-color: var(--accent-1);
	padding: 10px;
}

.footer-text {
	font-size: 16px;
	color: var(--primary-1);
}

.fa-square-facebook {
	text-decoration: none;
	background: var(--accent-1);
	color: var(--primary-1);
}

.fa-brands:hover {
	color: var(--accent-4);
}


/* Text */
p {
	margin-bottom: 10px;
}

.bold {
	font-weight: 800;
}

.hero-title {
	font-family: var(--accent-font);
	font-size: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--primary-1);
}

.heading-1 {
	font-family: var(--accent-font);
	font-size: 60px;
	text-align: center;
	color: var(--accent-1)
}

.heading-2 {
	color: var(--accent-2);
	font-family: var(--accent-font);
	font-size: 25px;
	margin-bottom: 8px;
}

.heading-3 {
	color: var(--accent-2);
	font-family: var(--accent-font);
	font-size: 20px;
	margin-bottom: 8px;
}

.image-credit {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 10px;
	color: var(--primary-1);
}

.link-1 {
	color: var(--accent-1);
}

.link-2 {
	text-decoration: none;
	color: var(--primary-1);
}

.link-2:hover {
	color: var(--accent-4)
}

.main-text {
	padding-right: 5px;
}

.no-italics {
	font-style: normal;
}

.text-margin {
	margin-bottom: 5px;
}

.text-box {
	padding: 5px;
}

.speaker-box {
	margin-bottom: 20px;
}

.speaker-text {
	overflow: hidden;
}


/* Media */
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/weaving.webp");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 400px;
	position: relative;
	z-index: 1;
}

.media-box {
	border: 3px solid var(--accent-3);
	border-radius: 20px;
}

.speaker-photo {
	border: 3px solid var(--accent-3);
	border-radius: 20px;
	margin: 3px 20px;
	width: 150px;
}


/* Decoration */
.page-divider {
	border: 1px dotted var(--accent-4);
	text-align: center;
	margin: 20px 0;
}


/* Positioning and sizing */
.box-left {
	padding-right: 10px;
}

.center {
	text-align: center;
}

.clearfix {
	clear: both;
}

.float-left {
	float: left;
}

.margin-outer {
	margin: 15px
}

.margin-inner {
	margin: 0 20px;
}

.width-50 {
	width: 50%;
}